In [14]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [15]:
##Load the dataset
dataset = pd.read_csv('../data/survey2.csv')

In [16]:
##View Data
dataset

,Question1,Question2,Question3,Question4,Question5,Question6,Question7,Question8
0,0,1,1,1,1,0,0,0
1,0,1,1,1,1,0,1,0
2,0,1,1,1,1,1,0,1
3,0,1,1,1,1,1,1,0
4,0,1,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...
123,1,0,0,0,1,1,1,0
124,1,0,0,0,0,0,0,1
125,1,0,0,0,0,0,1,0
126,1,0,0,0,0,1,0,1
127,1,0,0,0,0,1,1,1

In [17]:
#Splitting Training and Test Set
#Since we have a very small dataset, we will train our model with all availabe data.

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [18]:
X = dataset.iloc[:,:7]

In [19]:
Y = dataset.iloc[:,7]

In [20]:
Y

0      0
1      0
2      1
3      0
4      1
      ..
123    0
124    1
125    0
126    1
127    1
Name: Question8, Length: 128, dtype: int64

In [21]:

from sklearn.linear_model import LinearRegression, LogisticRegression

regressor = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X, Y)

In [22]:
regressor.predict(X)

array([1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1])

In [1]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

NameError: name 'pickle' is not defined